<% if (typeof objectIdentifier === 'undefined') { %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Upload Metadata document for QC</h3>
		</div>
		<div class="panel-body">
			<form id="mdqRunForm" method="POST" enctype="multipart/form-data">
				<input type="file" name="document" id="document"/>
				<input type="submit" value="Run" class="btn btn-default"/>
			</form>
		</div>
	</div>		

<% } %>

<div id="mdqResult">

<% if (typeof result !== 'undefined') { %>

<div class="panel panel-default mdq">
	<div class="panel-heading">
		<h4>Metadata Quality report <em><%= objectIdentifier %></em></h4>
		<p><%= timestamp %></p>
		<!--  Run ID: <%= id %>	-->
		<p>
		After running your <em><%= objectIdentifier %></em> metadata package against our standard set of metadata, data, and congruency checks, 
		we have found the following potential issues. 
		Please assist us in improving the discoverability and reusability of your research data by addressing the issues below.
		</p>
		
	</div>	
	<div class="panel-body">
	<%
		var groupedResults = _.groupBy(result, function(result) {
			var color;
			
			// simple cases
			// always blue for info and skip
			if (result.check.level == 'INFO') {
				color = 'BLUE';
				return color;
			}
			if (result.status == 'SKIP') {
				color = 'BLUE';
				return color;
			}
			// always green for success
			if (result.status == 'SUCCESS') {
				color = 'GREEN';
				return color;
			} 
			
			// handle failures and warnings
			if (result.status == 'FAILURE') {
				color = 'RED';
				if (result.check.level == 'OPTIONAL') {
					color = 'ORANGE';
				}
			}
			if (result.status == 'ERROR') {
				color = 'ORANGE';
				if (result.check.level == 'REQUIRED') {
					color = 'RED';
				}
			}
			//console.log("result color:" + color);
			return color;
			
		});
		
		var total = result.length;
		if (groupedResults.BLUE) {
			total = total - groupedResults.BLUE.length;
		}
		
	%>	
	
	<% if (groupedResults.GREEN) { %>
	
		<div class="alert alert-success" role="alert">
		<i class="icon icon-check-sign"></i>
		<a role="button" data-toggle="collapse" href="#collapseSuccess" aria-expanded="false" aria-controls="collapseSuccess">
		Passed <%=groupedResults.GREEN.length%> checks out of <%= total %>
		</a>
		</div>
		
		<div class="collapse" id="collapseSuccess">
		<ul class="list-group">
	
	<%
	_.each(groupedResults.GREEN, function(result) {
	%>
	
  		<li class="list-group-item">
  			<i class="icon icon-check"></i>
  			<strong><%= result.check.name %></strong>
			<%= result.check.description %>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
				
			<br/>
			
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
			
  		</li>
	<%
	});
	%>
	
		</ul>
		</div>
		
	<% } %>	
	
	
		
	<%
	_.each(groupedResults.ORANGE, function(result) {
	%>
		<div class="alert alert-warning" role="alert">
  			<i class="icon icon-warning-sign"></i>
			<strong><%= result.check.name %></strong>
			<%= result.check.description %>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
		</div>
	<%
	});
	%>
	
	<%
	_.each(groupedResults.RED, function(result) {
	%>
		<div class="alert alert-danger" role="alert">
  			<i class="icon icon-remove-sign"></i>
			<strong><%= result.check.name %></strong>
			<%= result.check.description %>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
		</div>
	<%
	});
	%>
	
	<% if (groupedResults.BLUE) { %>
		<div class="alert alert-info" role="alert">
		<i class="icon icon-info-sign"></i>
		<a role="button" data-toggle="collapse" href="#collapseSkip" aria-expanded="false" aria-controls="collapseSkip">
		<%=groupedResults.BLUE.length%> informational checks.
		</a>
		These may include skips, errors and failures.
		</div>
		
		<div class="collapse" id="collapseSkip">
		<ul class="list-group">
		
					
	<%
	_.each(groupedResults.BLUE, function(result) {
	%>
		<li class="list-group-item">
  			<i class="icon icon-info-sign"></i>
  			<strong><%= result.check.name %></strong>
			<%= result.check.description %>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
  		</li>
	<%
	});
	%>
	
		</ul>
		</div>
		
	<% } %>
	
    
  </div>
  
</div>

<% } %>
</div>