<% if (typeof objectIdentifier === 'undefined') { %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Upload Metadata document for QC</h3>
		</div>
		<div class="panel-body">
			<form id="mdqRunForm" method="POST" enctype="multipart/form-data">
				<input type="file" name="document" id="document"/>
				<input type="submit" value="Run" class="btn btn-default"/>
			</form>
		</div>
	</div>		

<% } %>

<div id="mdqResult">

<% if (typeof result !== 'undefined') { %>

<div class="panel panel-default mdq">
	<div class="panel-heading">
	
		<div class="format-charts-data"></div>
		
		<h4>Metadata Quality report for <em><%= objectIdentifier %></em></h4>
		<div id="suites"></div>
		<p>Date: <em><%= timestamp %></em></p>
		<!--  Run ID: <%= id %>	-->
		<p>
		After running your <em><%= objectIdentifier %></em> metadata package against our standard set of metadata, data, and congruency checks, 
		we have found the following potential issues. 
		Please assist us in improving the discoverability and reusability of your research data by addressing the issues below.
		</p>
		
		<div style="float: left;">
		<ul>
		<%
		var types = _.keys(groupedByType);
		_.each(types, function(type) {
			var results = groupedByType[type];
			var total = results.length;
			var success = 0;
			_.each(results, function(result) {
				if (result.status == "SUCCESS") {
					success++;
				}
			});
			
		%>
			<li><span class="strong" style="text-transform: capitalize;"><%=type%></span>: Passed <%=success%> out of <%=total%></li>
		<%
		
		});
		
		%>
		
		</ul>
		</div>
		
	</div>	
	<div class="panel-body">
		<%
		
		var total = result.length;
		if (groupedResults.BLUE) {
			total = total - groupedResults.BLUE.length;
		}
		
	%>	
	
	<% if (groupedResults.GREEN) { %>
	
		<div class="alert alert-success" role="alert">
		<i class="icon icon-check-sign"></i>
		<a role="button" data-toggle="collapse" href="#collapseSuccess" aria-expanded="false" aria-controls="collapseSuccess">
		Passed <%=groupedResults.GREEN.length%> checks out of <%= total %>.
		</a>
		Good job!
		</div>
		
		<div class="collapse" id="collapseSuccess">
		<ul class="list-group">
	
	<%
	_.each(groupedResults.GREEN, function(result) {
	%>
	
  		<li class="list-group-item">
  			<i class="icon icon-check"></i>
  			<strong><%= result.check.name %></strong>
  			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<br/>
			<%= result.check.description %>
			
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
				
			<br/>
			
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
			
  		</li>
	<%
	});
	%>
	
		</ul>
		</div>
		
	<% } %>	
	
	
		
	<%
	_.each(groupedResults.ORANGE, function(result) {
	%>
		<div class="alert alert-warning" role="alert">
  			<i class="icon icon-warning-sign"></i>
			<strong><%= result.check.name %></strong>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<br/>
			<%= result.check.description %>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
		</div>
	<%
	});
	%>
	
	<%
	_.each(groupedResults.RED, function(result) {
	%>
		<div class="alert alert-danger" role="alert">
  			<i class="icon icon-remove-sign"></i>
			<strong><%= result.check.name %></strong>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<br/>
			<%= result.check.description %>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
		</div>
	<%
	});
	%>
	
	<% if (groupedResults.BLUE) { %>
		<div class="alert alert-info" role="alert">
		<i class="icon icon-info-sign"></i>
		<a role="button" data-toggle="collapse" href="#collapseSkip" aria-expanded="false" aria-controls="collapseSkip">
		<%=groupedResults.BLUE.length%> informational checks.
		</a>
		These may include skips, errors and failures.
		</div>
		
		<div class="collapse" id="collapseSkip">
		<ul class="list-group">
		
					
	<%
	_.each(groupedResults.BLUE, function(result) {
	%>
		<li class="list-group-item">
  			<i class="icon icon-info-sign"></i>
  			<strong><%= result.check.name %></strong>
			<span class="badge pull-right"><%= result.status %></span>
			<span class="badge pull-right"><%= result.check.level %></span>
			<span class="badge pull-right"><%= result.check.type %></span>
			<br/>
			<%= result.check.description %>
			<!-- code -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Code (<%= result.check.environment %>)"
				data-content="<pre><%- result.check.code %></pre>">
				<i class="icon icon-bug"></i>
			</a>
			<!--  selectors -->
			<a 	
				tabindex="0"
				role="button"
				class="popover-this" 
				data-trigger="focus" 
				data-html="true"
				data-title="Selectors"
				data-content="<dl class=''><% _.each(result.check.selector, function(selector) { print('<dt>', selector.name, '</dt>'); print('<dd>', selector.xpath, '</dd>'); }); %></dl>">
				<i class="icon icon-code"></i>
			</a>
			<br/>
			<%
			_.each(result.output, function(output) {
			%>				
				<% if (output.type && output.type.includes('image')) { %>
					<!-- render the image -->
					<img src="data:<%- output.type %>;base64, <%- output.value %>"/>
				<% } else { %>
					<em><%- output.value %></em>
				<% } %>
			<%
			});
			%>
  		</li>
	<%
	});
	%>
	
		</ul>
		</div>
		
	<% } %>
	
    
  </div>
  
</div>

<% } %>
</div>